/* Font Face
========================================================================== */

@font-face {
	font-family: 'quicksandlight';
	font-weight: normal;
	font-style: normal;

}


*{
  box-sizing: border-box;
}

body, html{
	height: 100%;
}

body
{
	background-image: url("../assets/gauss.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover; 
    position: absolute;
	width: 100%;
  	top: 0;
  	margin: 0;
  	padding: 0;
  	padding-top: 80px;
	height: 1000px;
}




