/* Font Face
========================================================================== */

@font-face {
	font-family: 'quicksandlight';
	font-weight: normal;
	font-style: normal;

}


*{
  box-sizing: border-box;
}

body, html{
	height: 100%;
}

body
{
	background-image: url("../assets/gauss.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover; 
    position: absolute;
	width: 100%;
  	top: 0;
  	margin: 0;
  	padding: 0;
  	padding-top: 80px;
	/*height: 100%;*/
}

/*.section.pp-section.pp-table.pp-easing.active{
	display:table;
}

.section.pp-section.pp-table.pp-easing{
	display:none;
}*/

.infopane
{
	height: 100vh;
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: grey;
}

.phonePane
{
	float: left;
	background-color: greenyellow;
	height: inherit;
	width: 50%;
}

.detailPane
{
	float: right;
	background-color: blueviolet;
	height: inherit;
	width: 50%;
}





@media only screen and (max-device-width: 480px) {

.phonePane
{
	float: none;
	background-color: greenyellow;
	height: 50%;
	width: inherit;
}

.detailPane
{
	float: none;
	background-color: blueviolet;
	height: 50%;
	width: inherit;
}



}