<!--<h1>Alexander Pinkerton</h1>
<div class="linkbar">
    <a href="http://www.github.com/alexanderpinkerton">
        <img src="assets/githubblue.png" style="width:98px;height:40px;" /></a>
</div>-->

<!--<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>-->

<!--<navbar>
    <div class="container clearfix">
        <h1 id="logo">
            Alexander Pinkerton
        </h1>
        <linkbar>
            <a href="">Lorem</a>
            <a href="">Ipsum</a>
            <a href="">Dolor</a>
        </linkbar>
    </div>
</navbar>-->

<header>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">Home</a>
          </li>

          <li class="item">
            <a href="#">Blog</a>
          </li>

          <li class="item">
            <a href="#">About</a>
          </li>

          <li class="item">
            <a href="#" class="contact">Contact</a>
          </li>
        </ul>

        <div class="logo">
          <img src="#">
        </div>
      </div>
    </header>